In [13]:
import requests
import json
import pandas as pd
from pprint import pprint
from config import gkey
# Target city
address = "Lopez Cotilla , Del Valle Sur , Benito Juárez , Distrito Federal"
target_url = f'https://maps.googleapis.com/maps/api/geocode/json?address={address}&key={gkey}'

In [14]:
gkey

'AIzaSyA9R7FG9roSokqoL2DQzY6moFO9gU5OtQ0'

In [16]:
geo_data =('AIzaSyA9R7FG9roSokqoL2DQzY6moFO9gU5OtQ0')
# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
pprint(geo_data)

{'results': [{'address_components': [{'long_name': 'Manuel López Cotilla',
                                      'short_name': 'Prolongación M. López '
                                                    'Cotilla',
                                      'types': ['route']},
                                     {'long_name': 'Colonia del Valle Sur',
                                      'short_name': 'Col del Valle Sur',
                                      'types': ['political',
                                                'sublocality',
                                                'sublocality_level_1']},
                                     {'long_name': 'Ciudad de México',
                                      'short_name': 'México D.F.',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Ciudad de México',
                                      'short_name': 'CDMX',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Mexico',
                                      'short_name': 'MX',
                                      'types': ['country', 'political']},
                                     {'long_name': '03100',
                                      'short_name': '03100',
                                      'types': ['postal_code']}],
              'formatted_address': 'Manuel López Cotilla, Col del Valle Sur, '
                                   '03100 Ciudad de México, CDMX, Mexico',
              'geometry': {'bounds': {'northeast': {'lat': 19.3793341,
                                                    'lng': -99.16661599999999},
                                      'southwest': {'lat': 19.3684364,
                                                    'lng': -99.16949059999999}},
                           'location': {'lat': 19.3728098,
                                        'lng': -99.16837939999999},
                           'location_type': 'GEOMETRIC_CENTER',
                           'viewport': {'northeast': {'lat': 19.3793341,
                                                      'lng': -99.16661599999999},
                                        'southwest': {'lat': 19.3684364,
                                                      'lng': -99.16949059999999}}},
              'place_id': 'EklNYW51ZWwgTMOzcGV6IENvdGlsbGEsIENvbCBkZWwgVmFsbGUgU3VyLCBDaXVkYWQgZGUgTcOpeGljbywgQ0RNWCwgTWV4aWNvIi4qLAoUChIJndiEQqD_0YURl3V7Qx88en8SFAoSCdHHtKeW_9GFEbbq7ootMiPr',
              'types': ['route']}],
 'status': 'OK'}

In [17]:
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lng = geo_data["results"][0]["geometry"]["location"]["lng"]

# Print the latitude and longitude
print(lat)
print(lng)

19.3728098
-99.16837939999999

In [3]:
import os
file_to_load = "/Users/acristina/opt/anaconda3/envs/PythonData/clean_data.csv"
# Read Purchasing File and store into Pandas data frame
clean_data = pd.read_csv(file_to_load)
clean_data.head()

,Unnamed: 0,m2,state,rooms,price,status,adress
0,0,281,construidos,4 recs.,"8,500,000",Casa en venta,"Lopez Cotilla , Del Valle Sur , Benito Juárez..."
1,1,423,construidos,NaN,"17,000,000",Casa en venta,"Del Valle Centro , Benito Juárez , Distrito F..."
2,2,488,construidos,6 recs.,"11,495,000",Casa en venta,"Xochicalco , Narvarte Poniente , Benito Juáre..."
3,3,389,construidos,5 recs.,"11,000,000",Casa en venta,"Tajin 20 , Narvarte Poniente , Benito Juárez ..."
4,4,258,construidos,4 recs.,"11,400,000",Casa en venta,"Porfirio Díaz 156 , Del Valle Centro , Benito..."

In [26]:
clean_data['long'] = ""
clean_data['lat'] = ""

In [18]:
rows = [0,1,2,3,4]
column = ['adress']
clean_data.loc[rows,column]

                                              adress
0   Lopez Cotilla , Del Valle Sur , Benito Juárez...
1   Del Valle Centro , Benito Juárez , Distrito F...
2   Xochicalco , Narvarte Poniente , Benito Juáre...
3   Tajin 20 , Narvarte Poniente , Benito Juárez ...
4   Porfirio Díaz 156 , Del Valle Centro , Benito...

In [68]:
print(address2)

                                              adress
0   Lopez Cotilla , Del Valle Sur , Benito Juárez...
1   Del Valle Centro , Benito Juárez , Distrito F...
2   Xochicalco , Narvarte Poniente , Benito Juáre...
3   Tajin 20 , Narvarte Poniente , Benito Juárez ...
4   Porfirio Díaz 156 , Del Valle Centro , Benito...

In [21]:
address2 = clean_data.loc[rows,column]
target_url2 = f'https://maps.googleapis.com/maps/api/geocode/json?address={address2}&key={gkey}'
geo_data2 = requests.get(target_url2).json()

In [22]:
type(address2)

pandas.core.frame.DataFrame

In [23]:
range(len(clean_data.loc[rows,column]))

range(0, 5)

In [27]:
for x in range(len(clean_data.loc[rows,column])):
    
    target_url2 = f'https://maps.googleapis.com/maps/api/geocode/json?address={address2["adress"][x]}&key={gkey}'
    geo_data2 = requests.get(target_url2).json()
    clean_data['long'][x] = geo_data2["results"][0]["geometry"]["location"]["lng"]
    clean_data['lat'][x] = geo_data2["results"][0]["geometry"]["location"]["lat"]

<ipython-input-27-2075475eb343>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['long'][x] = geo_data2["results"][0]["geometry"]["location"]["lng"]
<ipython-input-27-2075475eb343>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['lat'][x] = geo_data2["results"][0]["geometry"]["location"]["lat"]

In [30]:
range(len(clean_data["adress"]))

range(0, 1008)

In [34]:
address3 = clean_data['adress']

In [36]:
clean_data.head()

,Unnamed: 0,m2,state,rooms,price,status,adress,long,lat
0,0,281,construidos,4 recs.,"8,500,000",Casa en venta,"Lopez Cotilla , Del Valle Sur , Benito Juárez...",-99.1684,19.3728
1,1,423,construidos,NaN,"17,000,000",Casa en venta,"Del Valle Centro , Benito Juárez , Distrito F...",-99.1677,19.3797
2,2,488,construidos,6 recs.,"11,495,000",Casa en venta,"Xochicalco , Narvarte Poniente , Benito Juáre...",-99.1542,19.3905
3,3,389,construidos,5 recs.,"11,000,000",Casa en venta,"Tajin 20 , Narvarte Poniente , Benito Juárez ...",-99.1524,19.403
4,4,258,construidos,4 recs.,"11,400,000",Casa en venta,"Porfirio Díaz 156 , Del Valle Centro , Benito...",-99.172,19.3819

In [37]:
address3

0        Lopez Cotilla , Del Valle Sur , Benito Juárez...
1        Del Valle Centro , Benito Juárez , Distrito F...
2        Xochicalco , Narvarte Poniente , Benito Juáre...
3        Tajin 20 , Narvarte Poniente , Benito Juárez ...
4        Porfirio Díaz 156 , Del Valle Centro , Benito...
                              ...
1003     IDAHO 00000 , Nápoles , Benito Juárez , Distr...
1004     MARIA HERNANDEZ ZARCO 68 , Alamos , Benito Ju...
1005     Dallas , Nápoles , Benito Juárez , Distrito F...
1006     EMPERADORES 0 , Portales , Benito Juárez , Di...
1007     CASTILLA 0 , Alamos , Benito Juárez , Distrit...
Name: adress, Length: 1008, dtype: object

In [38]:
for x in range(len(clean_data['adress'])):
    
    target_url3 = f'https://maps.googleapis.com/maps/api/geocode/json?address={address3[x]}&key={gkey}'
    geo_data3 = requests.get(target_url3).json()
    clean_data['long'][x] = geo_data3["results"][0]["geometry"]["location"]["lng"]
    clean_data['lat'][x] = geo_data3["results"][0]["geometry"]["location"]["lat"]

<ipython-input-38-d359ee7352e3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['long'][x] = geo_data3["results"][0]["geometry"]["location"]["lng"]
<ipython-input-38-d359ee7352e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['lat'][x] = geo_data3["results"][0]["geometry"]["location"]["lat"]

In [46]:
clean_data.head()

,Unnamed: 0,m2,state,rooms,price,status,adress,long,lat
0,0,281,construidos,4 recs.,"8,500,000",Casa en venta,"Lopez Cotilla , Del Valle Sur , Benito Juárez...",-99.1684,19.3728
1,1,423,construidos,NaN,"17,000,000",Casa en venta,"Del Valle Centro , Benito Juárez , Distrito F...",-99.1677,19.3797
2,2,488,construidos,6 recs.,"11,495,000",Casa en venta,"Xochicalco , Narvarte Poniente , Benito Juáre...",-99.1542,19.3905
3,3,389,construidos,5 recs.,"11,000,000",Casa en venta,"Tajin 20 , Narvarte Poniente , Benito Juárez ...",-99.1524,19.403
4,4,258,construidos,4 recs.,"11,400,000",Casa en venta,"Porfirio Díaz 156 , Del Valle Centro , Benito...",-99.172,19.3819

In [58]:
import pandas as pd
clean_data.to_csv('REcoords_data.csv')